body{
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

}

i:hover{
  cursor:pointer;
}

.main{
  background-image: url('https://media.giphy.com/media/6WtFOVgvnqMBa/giphy.gif');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.main-overlay{
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
}

.main-overlay > h1{
  margin: 0 20px;
}

.main-overlay > h2{
  margin: 20px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}



nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.7);
}

.logo{
  margin: 20px;
  font-size: 32px;
  font-family: 'Paytone One', sans-serif;
  color: white;
  font-family: 'Russo One', sans-serif;
}

.searchBar-wrapper{
  margin: 20px;
  z-index: 1;
  font-size: 30px;
  color: white;
  display: flex;
}

.searchBar{
  transition: all 2s;
  background: none;
  margin: 0 10px;
  color: white;
  font-size: 14px;
  width: 0;
}

.searchBar:focus{
  width: 140px;
  border-bottom: 1px solid #7BFF14;
}

.searchButton{
  color: black;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  background: white;
}

.searchButton:hover{
  cursor: pointer;
}

.contact{
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-right: 30px;
  color: white;
  font-size: 16px;
}

.contact > li:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.results{
  width: 90%;
  color: white;
}

.results > h1{
  margin: 20px;
  font-size: 24px;
}

.searchResults{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.video-thumbnails{
  width: 300px;
  margin: 20px;
}

.video-thumbnails > div{
  position: relative;
}

.video-thumbnails > div > img{
  width: 100%;
}

.video-thumbnails > div > .buttons{
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  right: 0;
  background: rgba(0,0,0,1);
  border-radius: 0 0 0 10px;
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  font-size: 30px;
}

.buttons > .fa{
  padding: 0 5px;
  transition: 0s;
}

.video-thumbnails:hover{
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.video-thumbnails:hover > div > .buttons{
  visibility: visible;
}

.player{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  color: white;
  font-size: 28px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.invisible{
  display: none;
}

.player-nav{
  position: relative;
  top: -20px;
  background: none;
  padding: 0 20px 20px 20px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.player-nav > h1{
  transition: all 1s;
  width: 90%;
  margin: 10px;
  font-size: 18px;
}

#ytplayer{
  position: static;
  width: 80vw;
  height: 80vh;
}

.minimized{
  z-index: 0;
  top: 90vh;
  height: 10vh;
}

.minimized > .player-nav{
  z-index: 0;
}

.minimized > .player-nav > h1{
  visibility: hidden;
}

.minimized > .player-nav > i{
  transform: rotate(180deg);
  bottom: 10px;
  right: 10px;
  color: #7BFF14;
  background-color: white;
  border-radius: 100%;
  padding: 10px;
}

.minimized > #ytplayer{
  height: 100%;
}

.fa {
  transition: all 2s;
}

.pages{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10vh;
}

.pageNumber{
  background: white;
  border-radius: 5px;
  padding: 10px 15px;
  color: black;
  margin: 10px 20px;
}
